.position {
    position: relative;
    width: 1600px;
    height: 920px;
}
.logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
    
}
.logo-dot {
    color: #33A2E0;
}
.logo-inline {
    display: inline-block;
}
.nav-font {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    text-decoration: none;

    /* Kept the line-height the same as the .logo to center the anchor tags with the logo */
    
    display: flex;
    align-items: center;
        
    /* Used flex for a proper vertical center with the logo */
    
    color: #1B0A42;

}
.nav-home {
    margin-left: 98px;
}
.nav-link-spacing {
    margin-left: 38px;
}
.signin-spacing {
    margin-left: 752px;
}
.signup-btn {
    width: 120px;
    height: 60px;
    margin-left: 40px;
    background-color: #33A2E0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    justify-content: center;
    letter-spacing: 0.02em;
    border-radius: 6px;  
}
.text-outline {
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        0px 4px 4px rgba(0, 0, 0, 0.25);
        /* Pain */
    }
